<div class="app-container">
    <section class="left-section" [style.max-width]="fixedWidth" [style.transition]="'max-width 0.3s ease-in-out'">
      <div class="header">
        <div class="placeholder-item"></div>
        <div class="header-controls">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <app-reservation [fixedWidth]="fixedWidth"></app-reservation>
    </section>
    <section class="right-section">
      <app-reservation-dashboard (closeFired)="closeFired($event)"></app-reservation-dashboard>
    </section>
  </div>